.imgheader-container{
background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%),
url("../../assets/homepagecontainer.png");
width: 100%;
height: 48vh;
background-size: cover;
background-position: center;
font-family: var(--font-family2);
font-weight: 700;
overflow: hidden;
}
.textcontainer{
   padding: 0px 60px 0px;
   width: 40%;
   height: 100%;
   color: white;
   font-family: var(--font-family2); 
   font-size: 20px;
}

.textcontainer h1{
   background-image: -moz-linear-gradient(100deg,  #AE67FA 1.84%, #F49867 102.67%);
   background-image: linear-gradient(100deg, #AE67FA 1.84%, #F49867 102.67%);
   background-image: -o-linear-gradient(100deg, #AE67FA 1.84%, #F49867 102.67%);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   margin-top: 0; 
}
.techtalent h1{
   margin-bottom: 20px;
}
/* finish markup */
mark{
   border-radius: 2px;
   /* background-color: rgb(228, 255, 255); */
   background-color: rgb(178, 157, 131);
}
.button_container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 8vh;
}
.button{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background-color:rgba(255, 255, 255, 0.1);
   border-radius: 2rem;
   font-family: var(--font-family2);
   z-index: 3;
   transform: scale(1);
   position: relative;
   border-color:transparent ;
   margin-bottom: 20px;
}.button h1{
background-color: var(--purple-blue-highlight);
margin: 0;
}
.button::after{
   content: "";
   z-index: -1;
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black;
   left:0;
   top: 0;
   border-radius: 2rem;
}

.button::before{
   content: "";
   background: linear-gradient(
      45deg,
      #FF0000,#48FF00,
      #002BFF,#FF00C8,#FF0000
   );
   position:absolute;
   top:-2px;
   left: -2px;
   background-size: 600%;
   z-index: -1;
   width: calc(100% + 1px);
   height: calc(90%);
   filter:blur(15px);
   animation: glowing 20s linear infinite;
   transition: opacity .3s ease-in-out;
   border-radius: 8px;
   opacity: 0;
}

@keyframes glowing{
   0% {background-position: 0 0;}
   50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
}

.button:hover::before{
   opacity: 1;
}

